In [51]:
import pandas as pd

tokyo = pd.read_csv("data/tokyocovid_latest.csv").rename(	
        columns={	
            '全国地方公共団体コード':'Code',	
            '都道府県名':'Prefecture',	
            '市区町村名':'Prefecture2',	
            '公表_年月日':'Date',	
            '曜日':'DoW',	
            '発症_年月日':'OnsetDate',	
            '患者_居住地':'Residence',	
            '患者_年代':'AgeGroup',	
            '患者_性別':'Gender',	
            '患者_属性':'Attribute',	
            '患者_状態':'Status',	
            '患者_症状':'Symptom',	
            '患者_渡航歴の有無フラグ':'TravelFlag',	
            '備考':'Remarks',	
            '退院済フラグ':'Discharged'	
        })	
japan = pd.read_csv("data/japancovid_latest.csv")
japan.columns = ['Date','Cases']
# print(japan.tail())	


# group by counts	
tokyo = tokyo[['Date','Gender','AgeGroup']]	
# print(tokyo.tail())	

tokyo['Gender'] = tokyo['Gender'].replace({'男性':'M', '女性':'F'})
tokyo['AgeGroup'] = tokyo['AgeGroup'].str.replace('[^a-zA-Z0-9]', '')
tokyo['AgeGroup'] = tokyo['AgeGroup'].str.replace('\W', '')

tokyo = pd.get_dummies(tokyo, columns=["Gender","AgeGroup"])	
tokyo = tokyo.drop(columns = ['Gender_不明','Gender_―','Gender_-'])

tokyo = tokyo.assign(ct=1)
# sumtokyo = tokyo.groupby('Date').agg('sum')
# avg7d = sumtokyo.rolling(7).mean()
# avg30d = sumtokyo.rolling(30).mean()

# ages = tokyo.groupby(['Date','AgeGroup']).agg('sum')
# genders = tokyo.groupby(['Date','Gender']).agg('sum')

#display(genders)
# genders.reset_index(1).replace({'男性':'M', '女性':'F'})

tokyo.groupby('Date').sum()

,Gender_-,Gender_F,Gender_M,AgeGroup_,AgeGroup_10,AgeGroup_100,AgeGroup_20,AgeGroup_30,AgeGroup_40,AgeGroup_50,AgeGroup_60,AgeGroup_70,AgeGroup_80,AgeGroup_90,ct
Date,,,,,,,,,,,,,,,
2020-01-24,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2020-01-25,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2020-01-30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2020-02-13,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
2020-02-14,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-17,0.0,63.0,98.0,0.0,7.0,0.0,44.0,36.0,25.0,22.0,10.0,12.0,4.0,1.0,161
2020-08-18,0.0,79.0,128.0,0.0,10.0,0.0,77.0,34.0,34.0,20.0,12.0,12.0,7.0,1.0,207
2020-08-19,0.0,78.0,108.0,0.0,11.0,0.0,60.0,44.0,18.0,29.0,11.0,6.0,6.0,1.0,186
2020-08-20,0.0,135.0,204.0,0.0,16.0,0.0,111.0,72.0,50.0,37.0,21.0,19.0,10.0,3.0,339
2020-08-21,0.0,105.0,153.0,0.0,19.0,0.0,83.0,54.0,40.0,33.0,12.0,9.0,8.0,0.0,258